extends layout

block content
  h1 Tic Tac Toe!
  .label
    .turn
      span Turn: 
    .player
      span#player player 1
  .game
    .cell#one
    .cell#two
    .cell#three
    .cell#four
    .cell#five
    .cell#six
    .cell#seven
    .cell#eight
    .cell#nine
