extends layout

block content
  h1 Tic Tac Toe!
  div.player
    span#player player 1
  div.game
    div.cell#one
    div.cell#two
    div.cell#three
    div.cell#four
    div.cell#five
    div.cell#six
    div.cell#seven
    div.cell#eight
    div.cell#nine
