body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.game {
  /*background-color: red;*/
  height: 500px;
  width: 500px;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

.cell {
  /*background-color: green;*/
  height: 33%;
  width: 33%;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  vertical-align: bottom;
  font-size: 1000%;
  text-align: center;
}

.icon {
  background-color: blue;
  display: block;
  width: auto;
}

#five {
  border: 2px solid black;
}

#two, #eight {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#four, #six {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#player {
  display: inline-block;
}

#foo {
  display: inline-block;
}
